/* =======Google Fonts======= */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Noto+Serif:wght@700&display=swap");

/* =======Base Styles======= */
:root {
  --color-black-100: #000;
  --color-black-90: #111;
  --color-black-80: #252432;
  --color-black-alpha-50: rgba(0, 0, 0, 0.5);
  --color-black-alpha-40: rgba(0, 0, 0, 0.4);

  --color-primary-orange: #e95a08;

  --color-white: #fff;
  --color-gray: #6b7280;
  --color-dark-gray: #8987a1;

  --color-bg: #f5f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black-alpha-50);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

h2 {
  font-size: 3.1rem;
  color: var(--color-black-100);
}

a {
  color: var(--color-gray);
}

img {
  max-width: 100%;
}

button {
  padding: 1.5rem 3rem;
  background-color: var(--color-primary-orange);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-black-80);
}

ul > li > a {
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

ul > li > a:hover {
  color: var(--color-primary-orange);
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.primary-color {
  color: var(--color-primary-orange);
}

/* =======Navbar Styles======= */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.9rem;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links ul li a,
.nav-cart h3 {
  color: var(--color-dark-gray);
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.nav-links ul li a:hover,
.nav-cart h3:hover {
  color: var(--color-primary-orange);
}

.nav-links ul li a:active {
  color: var(--color-primary-orange);
}

.nav-links .active-link {
  color: var(--color-black-80);
  font-weight: 700;
}

.nav-cart h3 {
  color: var(--color-black-100);
  font-family: "Inter", sans-serif;
}

/* =======Hero Section Styles======= */
.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 7rem 0;
}

.hero-section .hero-content {
  width: 55%;
}

.hero-section .hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.hero-section .hero-content p {
  width: 70%;
  font-size: 1.4rem;
  text-align: justify;
  margin-top: 1.5rem;
}

.hero-section .hero-image {
  flex: 1;
}

.hero-section .hero-image img {
  width: 100%;
}

/* =======Our Plants Section Styles======= */

.plants-section {
  text-align: center;
  margin: 5rem 0;
}

.plants-section .plants-content {
  width: 60%;
  margin: 0 auto 3rem;
}

.plants-section .plants-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.plants-card-items {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.plants-card {
  text-align: center;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid #eee;
}

.plants-card img {
  width: 100%;
  object-fit: cover;
}

.plants-card h3,
.plants-card p {
  color: var(--color-black-90);
  font-size: 1.4rem;
}

.plants-card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 1.3rem 0 0.5rem;
}

.plants-card p {
  font-weight: 700;
  margin: 0.5rem 0 1.3rem;
}

.plants-card button {
  width: 100%;
}

/* =======Plant Lover Section Styles======= */

.plant-lover-section {
  margin: 15rem 0 7rem;
}

.pl-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
  gap: 5rem;
}

.pl-image {
  width: 40%;
  position: relative;
}

.pl-details .pl-image img {
  width: 100%;
}

.pl-details .trusted-badge img {
  position: absolute;
  top: -150px;
  right: -150px;
  width: 60%;
  z-index: 99;
}

.pl-details .pl-content {
  flex: 1;
  padding-left: 4rem;
}

.pl-content ul li {
  list-style: disc;
  margin: 2rem;
  font-size: 1.7rem;
}

.pl-content ul li p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
}

/* =======Latest Deal Section Styles======= */
.latest-deal-section {
  text-align: center;
  margin: 5rem 0 7rem;
}

.latest-deal-section .deal-content {
  width: 60%;
  margin: 0 auto 5rem;
}

.deal-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.deal-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.3rem;
  height: 400px;
}

.left-cards {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.deal-card {
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.bloom-card {
  flex: 1;
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-bloom.png");
}

.ana-card {
  flex: 1;
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-ana.png");
}

.zabo-card {
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-zabo.png");
}

.zabo-card h3 {
  font-size: 2.5rem;
}

.zabo-card a {
  font-size: 1.7rem;
}

.card-underline {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--color-white);
}

/* =======Join Section Styles======= */

.join-section {
  height: 55vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 30%, rgba(7, 51, 79, 0.4) 70%),
    url("../images/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.join-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.join-content h2 {
  font-size: 3.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.join-content form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-content form input {
  width: 75%;
  padding: 1rem;
  font-size: 1rem;
  /* letter-spacing: 0.2rem; */
  padding: 1.5rem 3rem;
}

.join-content form button {
  flex: 1;
}

/* =======Footer Section Styles======= */

.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 5rem 0;
  gap: 2rem;
}

.footer-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  text-align: justify;
  width: 85%;
}

.footer-links ul li {
  margin: 1.5rem 0;
}

.footer-social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
