/* =======Google Fonts======= */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Noto+Serif:wght@700&display=swap");

/* =======Base Styles======= */
:root {
  --color-black-100: #000;
  --color-black-90: #111;
  --color-black-80: #252432;
  --color-black-alpha-50: rgba(0, 0, 0, 0.5);

  --color-primary-orange: #e95a08;

  --color-white: #fff;
  --color-gray: #6b7280;
  --color-dark-gray: #8987a1;

  --color-bg: #f5f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black-alpha-50);
  overflow-x: hidden;
}

a {
  color: var(--color-gray);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.primary-color {
  color: var(--color-primary-orange);
}

/* =======Navbar Styles======= */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.9rem;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links ul li a,  .nav-cart h3 {
  color: var(--color-dark-gray);
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.nav-links ul li a:hover, .nav-cart h3:hover {
  color: var(--color-primary-orange);
}

.nav-links ul li a:active {
  color: var(--color-primary-orange);
}

.nav-links .active-link {
  color: var(--color-black-80);
  font-weight: 700;
}

.nav-cart h3{
  color: var(--color-black-100);
}

/* =======Hero Section Styles======= */
.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 7rem 0;
}

.hero-section .hero-content {
  width: 55%;
}

.hero-section .hero-content h1 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.hero-section .hero-content p {
  width: 70%;
  font-size: 1.4rem;
  text-align: justify;
  margin-top: 1.5rem;
}

.hero-section .hero-image{
  flex: 1;
}

.hero-section .hero-image img {
  width: 100%;
}

/* =======Plants Section Styles======= */

.plants-section {
  text-align: center;
  margin: 5rem 0;
}

.plants-section .plants-content {
  width: 60%;
  margin: 0 auto 3rem;
}

.plants-section .plants-content h2 {
  font-family: "Noto Serif", serif;
  font-size: 3.1rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.plants-section .plants-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.plants-card-items {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.plants-card {
  text-align: center;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid #eee;
}

.plants-card img {
  width: 100%;
  object-fit: cover;
}

.plants-card h3, .plants-card p {
  color: var(--color-black-90);
  font-size: 1.4rem;
}

.plants-card h3 {
  font-weight: 500;
  margin: 1.3rem 0 0.5rem;
}

.plants-card p {
  font-weight: 700;
  margin: 0.5rem 0 1.3rem;
}

.plants-card button {
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: var(--color-primary-orange);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.plants-card button:hover {
  background-color: var(--color-black-80);
}