/* =======Google Fonts======= */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Noto+Serif:wght@700&display=swap");

/* =======Base Styles======= */
:root {
  --color-black-100: #000;
  --color-black-90: #111;
  --color-black-80: #252432;
  --color-black-alpha-50: rgba(0, 0, 0, 0.5);
  --color-black-alpha-40: rgba(0, 0, 0, 0.4);

  --color-primary-orange: #e95a08;

  --color-white: #fff;
  --color-gray: #6b7280;
  --color-dark-gray: #8987a1;

  --color-bg: #f5f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black-alpha-50);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

h2 {
  font-size: 3.1rem;
  color: var(--color-black-100);
}

a {
  color: var(--color-gray);
}

img {
  max-width: 100%;
}

button {
  padding: 1.5rem 3rem;
  background-color: var(--color-primary-orange);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-black-80);
}

ul > li > a {
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

ul > li > a:hover {
  color: var(--color-primary-orange);
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.primary-color {
  color: var(--color-primary-orange);
}

/* =======Navbar Styles======= */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.9rem;
}

nav .nav-logo {
  max-width: 200px;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links ul li a,
.nav-cart h3 {
  color: var(--color-dark-gray);
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.nav-links ul li a:hover,
.nav-cart h3:hover {
  color: var(--color-primary-orange);
}

.nav-links ul li a:active {
  color: var(--color-primary-orange);
}

.nav-links .active-link {
  color: var(--color-black-80);
  font-weight: 700;
}

.nav-cart h3 {
  color: var(--color-black-100);
  font-family: "Inter", sans-serif;
}

/* =======Hero Section Styles======= */
.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 7rem 0;
}

.hero-section .hero-content {
  width: 55%;
}

.hero-section .hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.hero-section .hero-content p {
  width: 70%;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.hero-section .hero-image {
  flex: 1;
}

.hero-section .hero-image img {
  width: 100%;
}

/* =======Our Plants Section Styles======= */

.plants-section {
  text-align: center;
  margin: 5rem 0;
}

.plants-section .plants-content {
  width: 60%;
  margin: 0 auto 3rem;
}

.plants-section .plants-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.plants-card-items {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.plants-card {
  text-align: center;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid #eee;
}

.plants-card img {
  width: 100%;
  object-fit: cover;
}

.plants-card h3,
.plants-card p {
  color: var(--color-black-90);
  font-size: 1.4rem;
}

.plants-card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 1.3rem 0 0.5rem;
}

.plants-card p {
  font-weight: 700;
  margin: 0.5rem 0 1.3rem;
}

.plants-card button {
  width: 100%;
}

/* =======Plant Lover Section Styles======= */

.plant-lover-section {
  margin: 15rem 0 7rem;
}

.pl-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
  gap: 5rem;
}

.pl-image {
  width: 40%;
  position: relative;
}

.pl-details .pl-image img {
  width: 100%;
}

.pl-details .trusted-badge img {
  position: absolute;
  top: -150px;
  right: -150px;
  width: 60%;
  z-index: 99;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pl-details .pl-content {
  flex: 1;
  padding-left: 4rem;
}

.pl-details .pl-content h2 {
  width: 70%;
}

.pl-content ul li {
  list-style: disc;
  margin: 2rem;
  font-size: 1.7rem;
}

.pl-content ul li p {
  font-size: 1.4rem;
  font-weight: 400;
}

/* =======Latest Deal Section Styles======= */
.latest-deal-section {
  text-align: center;
  margin: 5rem 0 7rem;
}

.latest-deal-section .deal-content {
  width: 60%;
  margin: 0 auto 5rem;
}

.deal-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.deal-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.3rem;
  height: 400px;
}

.left-cards {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.deal-card {
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.deal-card a {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--color-white);
  transition: all 0.3s ease;
}

.deal-card a:hover {
  color: var(--color-primary-orange);
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 0.3rem 0.5rem;
}

.bloom-card {
  flex: 1;
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-bloom.png");
}

.ana-card {
  flex: 1;
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-ana.png");
}

.zabo-card {
  background-image: linear-gradient(
      var(--color-black-alpha-40),
      var(--color-black-alpha-40)
    ),
    url("../images/deal-zabo.png");
}

.zabo-card h3 {
  font-size: 2.5rem;
}

.zabo-card a {
  font-size: 1.7rem;
}

/* =======Join Section Styles======= */

.join-section {
  height: 60vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 30%, rgba(7, 51, 79, 0.4) 70%),
    url("../images/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.join-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.join-content h2 {
  font-size: 3.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.join-content form {
  width: 100%;
  display: flex;
  gap: 0;
  max-width: 850px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.join-content form input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

.join-content form button {
  flex: 1;
  padding: 1rem 3rem;
}

/* =======Footer Section Styles======= */

.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 5rem 0;
  gap: 2rem;
}

.footer-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 85%;
}

.footer-links ul li {
  margin: 1.5rem 0;
}

.footer-social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* =======Responsive Styles======= */

/* =======Responsive Styles for Extra Large Device======= */
@media (max-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
  button {
    padding: 1.2rem 2.5rem;
    font-size: 0.9rem;
  }
  .hero-section .hero-content h1 {
    font-size: 2.7rem;
  }
  .hero-section .hero-content p {
    width: 80%;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .plants-section .plants-content {
    width: 80%;
  }
  .plants-section .plants-content p {
    font-size: 1.2rem;
  }
  .plants-card-items {
    gap: 1rem;
  }
  .plants-card h3,
  .plants-card p {
    font-size: 1.2rem;
  }
  .plant-lover-section {
    margin: 10rem 0 5rem;
  }
  .pl-image {
    width: 45%;
  }
  .pl-details {
    margin: 3rem 0;
    gap: 2rem;
  }
  .pl-details .trusted-badge img {
    top: -100px;
    right: -100px;
  }
  .pl-details .pl-content {
    padding-left: 3.5rem;
  }
  .pl-content ul li {
    margin: 0.7rem;
    font-size: 1.4rem;
  }
  .pl-content ul li p {
    font-size: 1.2rem;
  }
  .latest-deal-section .deal-content {
    width: 80%;
    margin: 0 auto 3rem;
  }
  .deal-card {
    padding: 1.5rem;
  }
  .deal-content p {
    font-size: 1.2rem;
  }
  .zabo-card h3 {
    font-size: 2.3rem;
  }
  .zabo-card a {
    font-size: 1.5rem;
  }
  .join-content h2 {
    font-size: 3rem;
  }
  .join-content form {
    width: 70%;
  }
  .join-content form input {
    font-size: 0.9rem;
  }
  .footer-section {
    padding: 3rem 0;
    gap: 1.5rem;
  }
  .footer-content p {
    font-size: 1.2rem;
    width: 90%;
  }
  .footer-links ul li {
    margin: 1rem 0;
  }
  .footer-social-links ul {
    gap: 1rem;
  }
}

/* =======Responsive Styles for Large Device======= */
@media (max-width: 992px) {
  h2 {
    font-size: 2.2rem;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
  }
  .hero-section .hero-content {
    width: 100%;
    margin-top: 2.5rem;
  }
  .hero-section .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-section .hero-content p {
    width: 95%;
    font-size: 1.1rem;
  }
  .hero-section .hero-image {
    width: 100%;
    order: -1;
  }
  .plants-section {
    margin: 3rem 0;
  }
  .plants-section .plants-content {
    width: 90%;
  }
  .plants-section .plants-content p {
    font-size: 1.1rem;
  }
  .plants-card-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .plants-card h3,
  .plants-card p {
    font-size: 1.1rem;
  }
  .plant-lover-section {
    margin: 8rem 0 4rem;
  }
  .pl-details .trusted-badge img {
    top: -80px;
    right: -80px;
  }
  .pl-details .pl-content {
    padding-left: 2.5rem;
  }
  .pl-content h2 {
    width: 100%;
  }
  .pl-content ul li {
    margin: 0.5rem;
  }
  .pl-content ul li p {
    font-size: 1.1rem;
  }
  .latest-deal-section .deal-content {
    width: 90%;
  }
  .deal-content p {
    font-size: 1.1rem;
  }
  .deal-items {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .left-cards {
    gap: 1rem;
  }
  .deal-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .zabo-card h3 {
    font-size: 2rem;
  }
  .zabo-card a {
    font-size: 1.3rem;
  }
  .join-content h2 {
    font-size: 2.5rem;
  }
  .footer-content p {
    width: 100%;
  }
}

/* =======Responsive Styles for Medium Device======= */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  button {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
  nav .nav-logo {
    max-width: 100px;
  }
  .nav-links {
    display: none;
  }
  .nav-cart h3 {
    font-size: 1.1rem;
  }
  .hero-section {
    margin: 3rem 0;
  }
  .hero-section .hero-content {
    width: 100%;
  }
  .hero-section .hero-content h1 {
    font-size: 2.2rem;
  }
  .hero-section .hero-content p {
    width: 90%;
    font-size: 1rem;
  }
  .plants-section .plants-content p {
    font-size: 1rem;
  }
  .plants-card-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .plants-card h3,
  .plants-card p {
    font-size: 1rem;
  }
  .plant-lover-section {
    margin: 6rem 0 3rem;
  }
  .pl-details {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .trusted-badge {
    display: none;
  }
  .pl-image {
    width: 100%;
  }
  .pl-details .trusted-badge img {
    top: -60px;
    right: -60px;
  }
  .pl-details .pl-content {
    padding-left: 0;
  }
  .pl-details .pl-content h2 {
    width: 100%;
    margin: 1.3rem 0;
  }
  .pl-content ul {
    padding-left: 1.2rem;
  }
  .pl-content ul li {
    margin: 0.7rem;
    font-size: 1.1rem;
  }
  .pl-content ul li p {
    font-size: 1rem;
  }
  .latest-deal-section {
    margin: 5rem 0 5rem;
  }
  .deal-content p {
    font-size: 1rem;
  }
  .deal-items {
    grid-template-columns: 1fr;
    gap: 1rem;
    height: auto;
  }
  .left-cards {
    gap: 1rem;
  }
  .deal-card {
    padding: 7rem 0;
  }
  .deal-card h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  .deal-card a {
    font-size: 1.2rem;
  }
  .zabo-card h3 {
    font-size: 1.7rem;
  }
  .zabo-card a {
    font-size: 1.2rem;
  }
  .join-content h2 {
    font-size: 2rem;
  }
  .join-content form {
    width: 80%;
  }
  .join-content form input {
    width: 100%;
    font-size: 0.8rem;
  }
  .join-content form button {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }
  .footer-section {
    grid-template-columns: 1fr;
    place-items: start;
    gap: 1rem;
  }
  .footer-content {
    margin-bottom: 2rem;
  }
  .footer-content p {
    font-size: 1rem;
    width: 90%;
  }
  .footer-links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
  }
  .footer-links ul li {
    margin: 0.5rem 0;
  }
  .footer-links ul li a {
    font-size: 1rem;
  }
  .footer-social-links {
    margin-top: 2rem;
  }
  .footer-social-links ul {
    gap: 2rem;
  }
}

/* =======Responsive Styles for Small Device======= */
@media (max-width: 576px) {
  h2 {
    font-size: 1.8rem;
  }
  button {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
  }
  nav .nav-logo {
    max-width: 70px;
  }
  .hero-section .hero-content h1 {
    font-size: 2rem;
  }
  .hero-section .hero-content p {
    width: 100%;
    font-size: 0.8rem;
  }
  .plants-section .plants-content {
    width: 100%;
  }
  .plants-section .plants-content p {
    font-size: 0.8rem;
  }
  .plants-card-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .plants-card h3,
  .plants-card p {
    font-size: 0.9rem;
  }
  .plant-lover-section {
    margin: 4rem 0 2rem;
  }
  .pl-content ul li p {
    font-size: 0.8rem;
  }
  .latest-deal-section {
    margin: 3rem 0 4rem;
  }
  .latest-deal-section .deal-content {
    width: 100%;
  }
  .deal-content p {
    font-size: 0.8rem;
  }
  .deal-card {
    padding: 5rem 0;
  }
  .deal-card h3,
  .zabo-card h3 {
    font-size: 1.5rem;
  }
  .deal-card a,
  .zabo-card a {
    font-size: 1rem;
  }
  .join-content h2 {
    font-size: 1.5rem;
  }
  .footer-content {
    margin-bottom: 1.5rem;
  }
  .footer-content p {
    font-size: 0.8rem;
  }
  .footer-links ul li {
    margin: 0.3rem 0;
  }
  .footer-links ul li a {
    font-size: 0.8rem;
  }
  .footer-social-links {
    margin-top: 1.5rem;
  }
}
